<h2>COSTI: 45€ al giorno a persona <br />
Per conferma si deve versare il 50% del costo dell'hotel su  <br>
IBAN  VERRI MARCO PAOLO 	IT20J0504801605000000020126 </h2>
( i pranzi di sabato e domenica e il permesso  Dordona li gestiamo direttamente in loco)