<h2>COSTI: 45€ al giorno a persona <span style="font-size:10px">(bambini 31,5 euro)</span><br />
<span style="font-size:10px">trattamento di mezza pensione bevande INCLUSE in  camera doppia</span>
Per conferma si deve versare il 50% del costo dell'hotel su  <br>
IBAN  VERRI MARCO PAOLO 	IT20J0504801605000000020126 <br>
<span style="font-size:10px">come causale inserire : Bravata NomeCognome X persone Y giorni</span></h2>
( i pranzi di sabato e domenica e il permesso  Dordona li gestiamo direttamente in loco)