
<p><h2>Hotel Milano&nbsp;&nbsp;- 
Via Centro 19 - 24010 Piazzatorre (Bg) - Tel. 0345 / 85027<br />
<a href="mailto:info@hotelmilano.hm">info@hotelmilano.hm</a> &nbsp;
<a href="http://www.hotelmilano.hm">www.hotelmilano.hm</a></h2></p><br />

 



Abbiamo selezionato una struttura che potesse ospitarci tutti assieme (almeno secondo le nostre stime di partecipanti) e che garantisse di avere tutti i servizi di cui abbiamo bisogno:
<ul><li>un ampio parcheggio per i nostri  cavalli d'acciaio</li>
<li> una sala briefing</li>
<li>una ampia sala ristorante</li>
<li>una saletta per le pratiche amministrative (tocca pagare ... triste, ma obbligatorio)</li></ul>

Doveva offrire una cucina tipica in grado di soddisfare le forchette più esigenti e camere spaziose e ben modulabili:
<ul><li>singole</li>
<li>doppie</li>
<li>a tre o quattro letti per le famiglie</li></ul>

<p>Per finire doveva anche offrire un’accoglienza di primordine ad un prezzo ragionevole.</p>

<p>Inoltre l'albergo doveva essere collocato in una favorevole posizione logistica; a ridosso del percorso per non perdere tempo in spostamenti, ma in posizione tranquilla per garantire i nostri sonni; facilmente accessibile dall’autostrada (siamo a 50 km dal casello di Bergamo), ma in una posizione inequivocabilmente "di Montagna" per farci sentire l'aria frizzante che scende dalle montagne il mattino e farci dimenticare i caldi terribili di questa stagione estiva.
</p>
<p>Inoltre il paese di Piazzatorre e le sue vicinanze garantiscono alternative anche a quei motociclisti che devono far collimare le proprie esigenze con quelle della famiglia al seguito, non dimentichiamoci che anche se l'incontro ha un chiaro riferimento manzoniano siamo nelle terre dove sono nati Arlecchino e Torquato Tasso.
</p>
 
<p>L'Hotel Milano a Piazzatorre possiede tutti questi requisiti grazie alla fortunata combinazione di esperienza ed entusiasmo della simpatica famiglia bergamasca proprietaria: genitori e figli assieme per un risultato d'eccellenza.
</p>