<h1>CONTATTI</h1>

<h2>Hotel Milano&nbsp;&nbsp; - Tel. 0345 / 85027</h2>

<h2>MARCO VERRI  - 335-8096145 <br>
varadero_64(chiocciola)yahoo.it</h2>

<h2>SIMONE RAMBALDI  - 329-9274474<br>
k5mmx(chiocciola)yahoo.com</h2>


Contattateci pure per definire esigenze particolari (vegetariani/vegani/celiaci)

