<h1>BRAVATA 2010</h1>

<p>Benvenuti al BravaTA 1.0 il rinato incontro lombardo!</p>

<p>Un nome che è originato dalle terre che attraverseremo, “quel ramo del lago di Como che volge a mezzogiorno e quei monti sorgenti dall’acque” e perché no anche dalla sana incoscienza che ci ha portato per una volta a passare dall’altra parte, quella degli organizzatori, dopo avere goduto per anni degli sforzi fatti da tutti quelli che ci hanno preceduto nell’organizzazione degli incontri Lissta.</p>
<p>Un incontro che un gruppo di lombardi “nuovo fino all’ultima vite” (cit.) ha messo in piedi per il vostro e nostro divertimento studiando un percorso ricco di curve e dislivelli che ci porterà a scorrazzare tra montagne, fiumi torrenti, laghi passi alpini e prealpini rigorosamente lombardi attraversando le quattro provincie di Bergamo, Sondrio, Lecco e Como.<br>
Abbiamo anche pensato di affiancare all’itinerario stradale una variante off per accontentare i patiti della polvere</p>
<p>Il campo base è stabilito a Piazzatorre in Val Brembana selezionata per l'ottima accessibilità anche per chi viene da lontano essendo facilmente raggiungibile dall’A4 Torino-Venezia e per la posizione strategica sull’itinerario previsto.</p>
<p>Abbiamo selezionato con cura anche l'albergo dotato di ogni comfort pur mantenendo un costo ragionevole. E’ dotato di ampi spazi per i nostri briefing, per le nostre chiacchierate e anche, perché no, per fare 4 salti insieme la sera, ma non faremo tardi<br>
Per finire stiamo selezionando per voi qualche diversivo per le nostre soste; qualche visita legata ai punti più spettacolari e alla gastronomia del luoghi che attraverseremo.<br>
Insomma ce ne sarà davvero per tutti i gusti.</p>

