<h1>PERCORSO SABATO</h1>
<a href="http://tinyurl.com/2urdezk">http://tinyurl.com/2urdezk</a>
<img src="/images/percorso_sabato.png" alt="percorso sabato" />

Pranzo del sabato presso il ristorante Belvedere a Narro (LC). 
Abbiamo optato per un pranzo a buffet self service così ognuno mangia COSA vuole e QUANTO vuole.
Il prezzo sarà di 13€ incluse le bevande analcoliche."

 <h1>PERCORSO DOMENICA</h1>
<a href="http://tinyurl.com/3yxn6to">http://tinyurl.com/3yxn6to</a>
<img src="/images/percorso_domenica.png" alt="percorso domenica" />

Il pranzo della domenica sarà invece una continuazione delle prelibatezze dei luoghi che avremo visitato e avrà un costo di 25€
